/* base */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
select,
textarea {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  padding: 0;
  margin: 0;
  outline: none;
}

form,
img {
  padding: 0;
  margin: 0;
  border: 0 none;
}
img {
  vertical-align: top;
}
blockquote,
q {
  quotes: none;
}
ul,
ol {
  list-style: none;
}
legend,
caption {
  font-size: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  margin-left: -1px;
}
::-webkit-input-placeholder {
  color: #999999; /* text-align:center; */
  font-size: 14px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="search"] {
  margin: 0;
  -webkit-appearance: none;
  text-shadow: none;
  -webkit-text-shadow: none;
  font-size: 14px;
  color: #666666;
}
a {
  text-decoration: none;
  color: #555555;
  outline: none;
}
a,
input,
label {
  vertical-align: middle;
}
#container {
  margin: 8px 8px 0;
  padding: 0;
  width: auto;
  box-sizing: border-box;
}
.section:not(:first-child) {
  margin-top: 16px;
}

.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3 !important;
}

.mySwiper .swiper-pagination {
  background-color: black;
  color: white;
  width: auto !important;
  right: 8px;
  left: auto !important;
  font-size: 0.5em;
  padding: 0.4em !important;
  overflow: hidden !important;
  border-radius: 4px;
}
